{% extends "layout/layout.html" %}

{% block content %}

{% include "../templates/layout/header-footer/header-normal.html" %}

<section>
    <div class="rt-spacer-100"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi accusantium nam fuga libero excepturi quis ipsum, debitis pariatur! Recusandae amet voluptatum ipsum dolorum magni quisquam harum exercitationem nostrum deleniti quaerat numquam id quibusdam est totam vero cum, vel fuga blanditiis corporis? Autem officia dolores rerum explicabo iste eligendi accusantium voluptatum dolor, esse sed laboriosam aperiam pariatur soluta minus. Dignissimos excepturi assumenda error, eum modi dolorum! Aut quam natus quidem quasi repellendus omnis sit, fugit facere ratione perferendis voluptas excepturi aperiam voluptatem architecto assumenda rerum atque vero officia ducimus quos autem inventore eveniet eaque. Delectus soluta explicabo a, id nesciunt nulla.
            </div>
        </div>
    </div>
    <div class="rt-spacer-100"></div>
</section>

{% include "../templates/layout/header-footer/footer-three.html" %}

{% endblock %}
